node_modules
bower_components

dist
.old
public/**/*.map

*.log

*.key
*.crt
*.pem

awsconfig.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
